body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#btnAdicionar {
  padding: 15px 20px;
  background-color: #666666;
  color: white;
  border: none;
  cursor: pointer;
}
#btnAdicionar:hover {
  background-color: #585858;
}

#tarefas {
  margin-top: 20px;
}
#inputTarefa {
  border: none;
  background-color: #f0f0f0;
  padding: 15px;
  outline: none;
  flex: 1;
  border-radius: 5px;
}

#listaTarefas {
  list-style: none;
  padding: 0;
}

#listaTarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #f8f9fa;
  border-radius: 5px;
  border-left: 4px solid #464646;
}

#listaTarefas button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

#listaTarefas button:hover {
  background-color: #ff6b6b;
  border-radius: 3px;
}

.concluida {
  text-decoration: line-through;
  opacity: 0.6;
  color: #6c757d;
}

#filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

#filtros button {
  padding: 8px 16px;
  border: 2px solid #40454b;
  background-color: white;
  color: #4f575f;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.filtro-ativo {
  background-color: #4f5d6b !important;
  color: white !important;
}

#filtros button:hover {
  background-color: #bdbdbd;
}

#contador {
  text-align: center;
  margin-bottom: 15px;
  color: #6c757d;
  font-size: 14px;
}
